# Ignorar las matrices generadas localmente
Matrices/

# Ignorar archivos temporales de Python y del sistema
__pycache__/
*.pyc
.DS_Store

# Ignorar archivos de Docker y datos pesados de HDFS
.env
data/
tmp/
*.txt